body {
    font-size: 15pt;
    font-family: 'Poppins',sans-serif;
}


*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  
}

.container{
  width:100%;
  height:100vh;
  background-image:url(gradient.jpeg);
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

    /*-------HEADER SECTION--------*/

.header{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color:#fff;
}

.header h2{
  font-size:30px;
  font-weight:500;
  width:100%;
  text-align: center;
  margin-top:15px;
  margin-bottom:15px;
}

span{
  display:inline-block;
  text-transform: uppercase;
  font-size:35px;
  font-weight:500;
  padding:10px;
  margin:5px;
  color: #ff01cf;
  background:#fff;
  border-radius:10px;
}

.header p{
  font-size:28px;
  font-weight:400;
  margin-bottom:20px;
}


@media(max-width:600px){
  
  .header{
    margin-left:3px;
  }
  
  .header h2{
  
  font-size:30px;
  margin-bottom:10px;
  margin-top:15px;
}

.header p {
  font-size:22px;
  font-weight:700;
  margin-bottom:10px;
}

span{
  font-size:20px;
  margin-bottom:5px;
}

}

     /*-------CARD SECTION-------*/

.card{
  width:90%;
  max-width:450px;
  color:#fff;
  text-align: center;
  padding:40px;
  border:1px solid rgba(255,255,255,0.3);
  border-radius:15px;
  background:rgba(255,255,255,0.1);
  box-shadow:0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter:blur(5px);
}

.card img{
  width:250px;
  border-radius:50%;
  
}

.card h2{
  font-size:40px;
  font-weight:600;
  margin-top:30px;;
  margin-bottom:10px;
}

.card p{
  font-size:25px;
  padding:10px;
  line-height:1.3;
}

.btn{
  text-decoration:none;
  display:inline-block;
  color:#ff01cf;
  background:#fff;
  font-size:30px;
  font-weight:600;
  border:none;
 border-radius:20px;
 margin-top:30px;
 margin-bottom:20px;
 padding:12px;
 cursor: pointer;
 width:70%;
 
}

@media(max-width:600px) {
  
  .card{
    margin:15px;
  }
  
  .card h2{
    font-size:30px;
    font-weight:550;
  }
  
  .card p{
    font-size:20px;
  }
  
  .card img{
    width:200px;
}

.btn{
  font-size:20px;
  font-weight:500;
}

}
